alembic==1.11.1
blinker==1.6.2
click==8.1.6
colorama==0.4.6
dnspython
email-validator==2.0.0.post2
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp
